.statistics{
    width: 100%;
    height: 100%;
    /* display: flex; */
}

.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(166, 177, 187);
}

.statList{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-weight: 400;
    font-size: 30px;
    text-align:center;
    width: 100px;
    height: 100px;
    background-color: aqua;
    color: rgb(179, 143, 143);
}

.label{
    font-size: 20px;
}